<!DOCTYPE html>
<html>
  <head>
    <title>TodoAppRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1> TO do List</h1>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">To Do Lists</a>
        </nav>
    </div>
  <div class="container">
    <nav class="sidebar">
    </nav>
  </div>
    <%= yield %>
  </body>
</html>
